body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-btn {
  margin: -8px -3px -8px -3px;
}
.show-grid {
}

.poll-info {
  padding-top: 2em;
}

.form-options {
  margin: 0 auto;
  font-size: 16px;
  width: 15em;
  height: 2em;
  text-align: center;
}

select, option {
  font-size: 13px;
  width: 10px;
}

.poll-submit {
  margin: 4px 2em 2px 2em;
  font-size: 16px;
  width: 15em;
  height: 2em;
}

.option-submit {
  width: 17em;
  margin: 0px auto;

}

button.list-group-item {
  text-align: center;
}

.poll-items {
  margin: auto;
}

.new-poll-labels {
  margin: 10px 0 4px 0;
}

.create-poll {
  text-align: left !important;
}
.create-btn {
  margin-top: 10px;
}
